<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminal</title>

    <!-- Load socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

    <!-- Load xterm.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
    <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit/lib/xterm-addon-fit.js"></script>

    {% if style == True %}
    <style>
      :root {
        --background: white;
        --color: rgba(0, 0, 0, 1);
      }
    </style>
    {% else %}
    <style>
      :root {
        --background: black;
      }
    </style>
    {% endif %}
  </head>

  <body style="background: var(--background); color: var(--color);">
    <div id="terminal"></div>

    <script src="{{ url_for('static', filename='js/jterm.js') }}"></script>
  </body>
</html>
