<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminal Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Control Panel</a></li>
          <li><a href="/payload">Payload</a></li>
          <li><a href="/files">Files</a></li>
        </ul>
      </nav>
    </header>

    <h1>Terminal Dashboard</h1>

    <div id="terminal-container">
      <iframe id="terminal"></iframe>
      <div id="button-container">
        <button class="button" onclick="fullscreen()">Fullscreen</button>
        <button class="button" onclick="ctrl()">Send ctrl-c</button>
        <button class="button" onclick="disconnect()">Disconnect</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
  </body>
</html>
